.today-patients-list-page-container {
  width: 100%;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;

  .room-container {
    display: flex;
    width: 100%;

    .next-appointments-container,
    .waiting-room-container,
    .done-table-container,
    .awaiting-list-container {
      margin-right: 1rem;
      margin-top: 1rem;
      padding: 0.5rem;
      flex: 1;

      .title {
        padding: 0.75rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        border-radius: 0.5rem;
        background-color: #ddd3;
        display: flex;
        align-items: center;
        justify-content: center;

        .circle {
          color: white;
          display: inline-block;
          margin-left: 0.75rem;
          display: flex;
          align-items: center;
        }
      }

      &:nth-child(1) .title {
        border-top: 2px solid #ffa500;
        color: #ffa500;
        .circle {
          background-color: #ffa500;
        }
      }

      &:nth-child(2) .title {
        border-top: 2px solid #20ac20;
        color: #20ac20;
        .circle {
          background-color: #20ac20;
        }
      }

      &:nth-child(3) .title {
        border-top: 2px solid #0bbe98;
        color: #0bbe98;
        .circle {
          background-color: #0bbe98;
        }
      }

      &:nth-child(4) .title {
        border-top: 2px solid #5c746f;
        color: #5c746f;
        .circle {
          background-color: #5c746f;
        }
      }

      .card-container {
        background-color: #ddd3;
        border: 1px solid #ddd3;
        border-radius: 0.5rem;
        padding: 0.5rem;
        margin-top: 0.5rem;

        &.confirmed {
          background-color: #20ac2033;
          button:nth-child(1) {
            color: #20ac20;
          }
        }

        &.left {
          background-color: #ff000033;
          button:nth-child(2) {
            color: #ff0000;
          }
        }
      }
    }
  }
}
